img,
video {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contents {
    width: 100%;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.content {
    background-color: aliceblue;
    padding: 20px;
}

.jumbotron {
    margin: 0;
}

#contents {
    position: fixed;
    width: 20%;
    font-size: 1.5vw;
}

#filler {
    border: 1px solid lightblue;
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    #contents {
        position: relative;
        font-size: 22px;
        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
}