body {
    background-color: #1c1c1c;
    color: white;
    font-size: 1vw !important;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tab-content {
    width: 100%;
}

#total-content, #weekly-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top3-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 60px;
}

.top3-display {
    /* outline: 1px solid red; */
    width: calc(100%/3);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.leaderboard-div {
    width: 80%;
}

.total-player-face {
    height: 25px !important;
}

.div-1st {
    box-shadow: 0 10px 16px 0 rgba(255, 189, 6, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19) !important;
    /* border-radius: 100%; */
    /* padding: 50px; */
    /* padding: 5%; */
}

.div-1st img {
    padding: 10px;
    height: 70%;
}

.div-2nd img {
    height: 30%;
}

.div-3rd img {
    height: 30%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* #first-place-text {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19) !important;
    padding: 10px;
} */

.first-place-text h1 {
    color: gold;
}

.second-place-text h3 {
    color: silver;
}

.third-place-text h5 {
    color: #995a1c;
}