body {
    background-color: #1c1c1c;
    color: aliceblue;
}

.header, .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    width: 100%;
}

.leaderboards {
    width: 50%;
}

a {
    /* text-decoration: none; */
    color: aliceblue
}

#request-timer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    padding: 3px;
    background-color: #1c1c1c;
}