.wrapper {
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.left,
.right {
    border: 1px solid red;
    padding: 20px;
}

.left {
    width: 80%;
}

.right {
    width: 20%;
}