body {
    background-color: #1c1c1c;
}

.header {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: aliceblue
}

#request-timer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}